apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-s3ri
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/pmacik-testing/tkrw-pr712-0075-0025-tenant/tkrw-pr712-0075-0025-app/devfile-sample-s3ri@sha256:032e11fdf43f6cbddbc05950ea3b78dfd2b4c3c6866ab09b27b7f6bdda626e2e
        name: my-nodejs
        resources: {}
status: {}
